### pre processing data

Get the dataset
Importing libraries
Importing dataset
Missing values
Categorical Data
Splitting Data
Feature Scaling

In [32]:
# getting the data from local machine or web and print data
import pandas as pd
data=pd.read_csv("Desktop/swathi.csv")
data

         name   age  class
0      swathi  25.0    4.0
1       vyshu  25.0    5.0
2        aadi   2.0    6.0
3         sai  24.0    7.0
4       priya  26.0    8.0
5      sweety  20.0    9.0
6        gani  19.0    5.0
7      naresh   NaN    6.0
8      Dinesh   5.0    NaN
9  Navana sri   6.0    NaN

In [33]:
# creating an array in single row
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

In [34]:
# Creating a dictionary
data={'a':0,'b':1,'c':2}
pd.Series(data)

a    0
b    1
c    2
dtype: int64

In [ ]:
# creating index to data
pd.Series([1,2,3,4],index=['a','b','c','d'])

In [ ]:
# creating dictionary and put in dataframe
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
  'two':pd.Series([4,5,6,7],index=['z','y','x','w'],dtype=str)}
s=pd.DataFrame(d)
s

#### column wise mean values

In [ ]:
#  mean() function can be used to calculate mean/average of a given list of numbers.
# It returns mean of the data set passed as parameters.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

In [ ]:
df.apply(np.mean)

### dataframe

In [19]:

import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})


df

            A     x         y       C           D
0  2016-01-01   0.0  0.187849  Medium  105.130858
1  2016-01-02   1.0  0.093410     Low   98.506986
2  2016-01-03   2.0  0.724704    High   95.332269
3  2016-01-04   3.0  0.740447     Low  111.854340
4  2016-01-05   4.0  0.960053  Medium   91.066623
5  2016-01-06   5.0  0.307669    High  103.061202
6  2016-01-07   6.0  0.381675    High   95.342706
7  2016-01-08   7.0  0.654331     Low  109.806047
8  2016-01-09   8.0  0.479881    High   89.088653
9  2016-01-10   9.0  0.915186    High   99.227450
10 2016-01-11  10.0  0.267364    High  119.128880
11 2016-01-12  11.0  0.784620    High   99.297688
12 2016-01-13  12.0  0.575440    High   90.273697
13 2016-01-14  13.0  0.128017  Medium   97.420062
14 2016-01-15  14.0  0.787986    High   85.707210
15 2016-01-16  15.0  0.757239     Low  104.334167
16 2016-01-17  16.0  0.723001    High  107.786813
17 2016-01-18  17.0  0.339490    High   86.015081
18 2016-01-19  18.0  0.335354  Medium  105.420478
19 2016-01-20  19.0  0.474054  Medium   90.922675

#### reindex the DataFrame

In [ ]:
# Use reindex() function to reindex the dataframe.
# By default values in the new index that do not have corresponding records in the dataframe are assigned NaN.

import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})


df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

df_reindexed

In [ ]:
import pandas as pd
import numpy as np
 
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })
df

In [ ]:
# print columns in dataframe

import pandas as pd
import numpy as np
 
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })
for col in df:
    print(col)

In [ ]:
# Renaming rows and columns

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df1)

print("After renaming the rows and columns:")
print(df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

In [38]:
# unsorted index converted to sorted index
import pandas as pd
import numpy as np

unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
unsorted_df

       col2      col1
1  1.699550 -0.346920
4  0.476093  0.597115
6  0.332082 -0.094002
2 -1.383420  0.369520
3  1.868147  0.612780
5  0.490624  1.977507
9 -0.420157 -2.853064
8  0.163623  1.801366
0  3.041973  0.346735
7 -1.481738 -0.780032

In [37]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df=unsorted_df.sort_index()
print(sorted_df)

       col2      col1
0 -1.445013  0.993409
1  0.469696  2.236499
2  0.206882  0.055751
3 -0.088254 -0.347942
4 -0.416702 -2.336462
5 -0.113146  0.151756
6 -0.329981 -0.463036
7  0.167135 -0.908504
8  1.001933 -0.101116
9  0.244593 -2.035833

In [ ]:
## counting string

import pandas as pd
 
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("The number of 'm's in each string:")
print(s.str.count('o'))

In [ ]:
# # start with alphabet

import pandas as pd

s = pd.Series(['Tom ', 'William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
print(s.str. startswith ('W'))

In [39]:
### ends with alphabet

import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that end with 't':")
print(s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [40]:
# find name in data presented in row 

import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

In [12]:
### starts with lower letter

import pandas as pd

s = pd.Series(['tom', 'William rick', 'john', 'Alber@t'])
print(s.str.islower())
s[0],s[2]

0     True
1    False
2     True
3    False
dtype: bool

('tom', 'john')

In [7]:
### upper case letters present in data

import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print(s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [18]:
# is numeric() 

import pandas as pd

s = pd.Series(['1Tom', 'William Rick', 'John', 'Alber@t','5'])

print(s.str.isnumeric())

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [21]:
# correlation

import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

print(frame['a'].corr(frame['b']))
print(frame.corr())

0.12141144527877883
          a         b         c         d         e
a  1.000000  0.121411 -0.286804  0.502272 -0.374201
b  0.121411  1.000000 -0.356305  0.502652  0.079886
c -0.286804 -0.356305  1.000000  0.046340  0.280417
d  0.502272  0.502652  0.046340  1.000000  0.218711
e -0.374201  0.079886  0.280417  0.218711  1.000000

In [46]:
#### Ranking

import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index=list('abcde'))
s

a    1.737551
b    0.335439
c    0.997417
d    0.773976
e    0.176545
dtype: float64

In [47]:
s['d'] = s['b'] # so there's a tie
print(s.rank())

a    5.0
b    2.5
c    4.0
d    2.5
e    1.0
dtype: float64