7.Feature Sclaing

In [1]:
import pandas as pd
sp=pd.DataFrame({"Emp id":[111,112,113,114,115],'age':[20,30,24,45,56],'salary':[1000,2000,3000,4000,5000]})
sp

   Emp id  age  salary
0     111   20    1000
1     112   30    2000
2     113   24    3000
3     114   45    4000
4     115   56    5000

In [2]:
from sklearn.preprocessing import scale
a=scale(sp)
a

C:\Users\GANESHBABU\Anaconda3\include\New folder\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.

array([[-1.41421356, -1.11065415, -1.41421356],
       [-0.70710678, -0.37021805, -0.70710678],
       [ 0.        , -0.81447971,  0.        ],
       [ 0.70710678,  0.7404361 ,  0.70710678],
       [ 1.41421356,  1.5549158 ,  1.41421356]])

In [3]:
a=pd.DataFrame(a)
a

          0         1         2
0 -1.414214 -1.110654 -1.414214
1 -0.707107 -0.370218 -0.707107
2  0.000000 -0.814480  0.000000
3  0.707107  0.740436  0.707107
4  1.414214  1.554916  1.414214

In [4]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sp==sc.fit_transform(sp)
sp

C:\Users\GANESHBABU\Anaconda3\include\New folder\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\GANESHBABU\Anaconda3\include\New folder\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

   Emp id  age  salary
0     111   20    1000
1     112   30    2000
2     113   24    3000
3     114   45    4000
4     115   56    5000

In [6]:
import statsmodels.formula.api as mf

# Machine learning

ML : “Field of study that gives computers the capability to learn without being explicitly programmed”.

How ML works?

Gathering past data in any form suitable for processing.The better the quality of data, the more suitable it will be for modeling
Data Processing – Sometimes, the data collected is in the raw form and it needs to be pre-processed.

##### Supervised and Unsupervised learning
Basically supervised learning is a learning in which we teach or train the machine using data which is well labeled that means some data is already tagged with the correct answer.

Supervised learning classified into two categories of algorithms:

Classification: A classification problem is when the output variable is a category, such as “Red” or “blue” or “disease” and “no disease”.

Regression: A regression problem is when the output variable is a real value, such as “dollars” or “weight”.

 #### unsupervised learning :
 no teacher is provided that means no training will be given to the machine. Therefore machine is restricted to find the hidden structure in unlabeled data by our-self.
 
 Unsupervised learning classified into two categories of algorithms:

Clustering: A clustering problem is where you want to discover the inherent groupings in the data, such as grouping customers by purchasing behavior.

Association: An association rule learning problem is where you want to discover rules that describe large portions of your data, such as people that buy X also tend to buy Y.

Example of Supervised Learning Algorithms:

    Linear Regression
    Nearest Neighbor
    Guassian Naive Bayes
    Decision Trees
    Support Vector Machine (SVM)
    Random Forest
    
  ### What is Linear Regrission ?
  
  Linear regression may be defined as the statistical model that analyzes the linear relationship between a dependent variable with given set of independent variables. Linear relationship between variables means that when the value of one or more independent variables will change (increase or decrease), the value of dependent variable will also change accordingly (increase or decrease).

Mathematically the relationship can be represented with the help of following equation −

 ##              Y=mX+b
          
         
Here, Y is the dependent variable we are trying to predict.

X is the dependent variable we are using to make predictions.

m is the slop of the regression line which represents the effect X has on Y

b is a constant, known as the 𝑌Y-intercept.

Types of Linear Regression
   
   Linear regression is of the following two types −
    Simple Linear Regression -  one input and one output
    Multiple Linear Regressionv - multiple inputs and one output

In [11]:
n='o07f8f'

for i in n:
    v=arr[i]
return v

NameError: name 'arr' is not defined