### Python Lists

In [2]:
li=[1,2,3,4,5,6,'python',7.8,9]
li[-3]

'python'

In [25]:
li.append([321,543,765])
print(li)

[1, 2, 3, 4, 5, 6, 'python', 7.8, 9, [321, 543, 765]]

In [26]:
li.remove([321,543,765])
print(li)

[1, 2, 3, 4, 5, 6, 'python', 7.8, 9]

In [33]:
li.insert(9,10)
li

[1, 2, 3, 4, 5, 6, 'python', 7.8, 9, 10]

In [39]:


li[3].insert(4,5)
print(li)

AttributeError: 'int' object has no attribute 'insert'

In [41]:
li

[1, 2, 3, 6, 'python', 7.8, 9, 10]

In [48]:
li.pop(4)

4

In [49]:
li

[1, 2, 3, 4, 'python', 7.8, 9, 10]

In [51]:
li.insert(4,5)

In [52]:
li

[1, 2, 3, 4, 5, 'python', 7.8, 9, 10]

In [53]:
li.insert(5,6)

In [54]:
li

[1, 2, 3, 4, 5, 6, 'python', 7.8, 9, 10]

In [55]:
li.remove(6)

In [56]:
li

[1, 2, 3, 4, 5, 'python', 7.8, 9, 10]

In [57]:
li.insert(5,6)

In [58]:
li

[1, 2, 3, 4, 5, 6, 'python', 7.8, 9, 10]

In [59]:
li.remove('python')

In [60]:
li

[1, 2, 3, 4, 5, 6, 7.8, 9, 10]

In [61]:
li.sort()

In [62]:
li

[1, 2, 3, 4, 5, 6, 7.8, 9, 10]

# DAY OBJECTIVES

#### Date : 23-07-2019

* Tuples
* Dictionaries
* Linear and Binary Search
* Date arithmetic
* Iterators and Generators
* Functional Programming

### Python tuples

In [65]:
t1=(1001,'ganesh',72,91)

In [66]:
t1

(1001, 'ganesh', 72, 91)

In [67]:
t1[0]

1001

In [69]:
t1[2:]

(72, 91)

In [3]:
t2=(321,654,145)
print(str(t2[0])[1],str(t2[1])[1],str(t2[0])[2])

2 5 1

In [4]:
# Function to calculate the Average of all Elements in tuple
def avgtuple(t):
    sum=0
    for i in range(0,len(t)):
        sum+=t[i]
    return sum/len(t)
avgtuple(t2)

373.3333333333333

In [95]:
# Function to calculate the Average of all LInear data structure
def LiDataStruct(t):
    sum=0
   # for i in range(0,len(t)):
    #    sum+=t[i]
     for item in t:
            sum+=item
    return sum/len(t)
LiDataStruct(t2)
type(li)

IndentationError: unexpected indent (<ipython-input-95-353eea80ecdc>, line 6)

In [90]:
# Function to search in a Linear Data Structure
def searchLinearDS(ds,key):
    for i in range(0,len(ds)):
        if ds[i]==key:
            return i
    return -1
searchLinearDS(li,9)

7

### Iterable Objects

In [96]:
s='Python'
for c in s:
    
    print(c)

P
y
t
h
o
n

In [100]:
# Function to identfy the maximum element in a DS as iterable Objects
def maxelementDS(ds):
    m=0 #m=ds[0]
    for item in ds:
        if item > m:
            m=item
    return m
maxelementDS(li)

10

### Python Dictionaries

In [105]:
d1={'name':123456,'name2':5648964}
d1['name2']

d1.keys() # All keys in dictionary are unique
d1.values()

dict_values([123456, 5648964])

In [106]:
d1['name3']=12654

In [111]:
d1

{'name': 123456, 'name2': 5648964, 'name3': 12654}

In [114]:
d1.pop('name3') # Remove a key and value

12654

In [117]:
del d1

In [129]:
#Contacts Application
# Ddisplay ,add, Modify and Delete contacts

contacts={}
def contactadd(d,name,phone):    # Adding contacts
    d[name]=phone
    return 
contactadd(contacts,'name1',5646654)


def displaycon(contacts):       # Display contacts
    for name,phone  in contacts.items():
        print(name,":",phone)
    return
    
def modifycontacts(contacts,name,newphone):
    contacts[name]=newphone
    return
   
def deletecontact(contacts,name):
    contacts.pop(name)
    return

In [130]:
contactadd(contacts,'ganesh',80992092)

In [133]:
displaycon(contacts)

name1 : 5646654
ganesh : 80992092
sunil : 94505454

In [132]:
contactadd(contacts,'sunil',94505454)

## Looping over collections

In [137]:
colors=['red','blue','white']
for i in range(len(colors)-1,-1,-1):
    print(colors[i])

white
blue
red

In [146]:
for i, colours in enumerate(colors):
    print(i)

0
1
2

In [138]:
contacts.items()

dict_items([('name1', 5646654), ('ganesh', 80992092), ('sunil', 94505454)])

In [153]:
li2=[1,2,3,4,5]
li2.reverse()
print(li2)

[5, 4, 3, 2, 1]

In [155]:
d={'maths':'blue','physics':'red'}
for k in d:
    print(k)

maths
physics

## Regular Expressions

[0-9] RE for all digits
[0,1,2,3.....9]
0
1
2
33
[a-z] RE for all lower case alphabet
[A-Z] RE for all upper case alphabet

In [156]:
# Function to validate college student roll no
# Function to validate  indian phone numbers starting 9,8,7,6 and 
# Function to validate email address
username@domain.extension
username = {string of length 9.can contain digits,_, alphabet}
domian ={string of 9. can contain digits and alphabet}
extesion ={length of 3. only alphabet}

SyntaxError: invalid syntax (<ipython-input-156-12ac95451a1a>, line 5)

In [9]:
def mail(s):
    if(s==str(len(9))/ [0-9]/[a-z]):
        return s
s= input("enter name")
mail(s)

enter name658965894

TypeError: object of type 'int' has no len()

In [11]:
import re
def phonenumberval(phone):
    phone=str(phone)
    pattern='^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True
    else:
        return False
    
phone=input("enter digit :")
phonenumberval(phone)

enter digit8099220982

True

In [16]:
import re
s1='The Business Web Platform is Django-application. Contains models, templates and other preparations for the fast building of ERP system '
s1=re.split('[,]',s1)
s1

['The Business Web Platform is Django-application. Contains models',
 ' templates and other preparations for the fast building of ERP system ']

## Python Date Time Arithmetic

In [17]:
import datetime
datetime.datetime.now().year

2019

In [18]:
now= datetime.datetime.now()
now.day

23

In [19]:
now.year

2019

In [20]:
now.second

26

In [21]:
now.minute

32

In [23]:
now.day

23

In [24]:
now.hour

15

In [27]:
print(now.hour,":",now.minute,":",now.second)

15 : 32 : 26

In [34]:
# Function to find the differ b/w two given dates
#yyy:mm:dd is the date format
def datediffer(date1,date2):
    year1=int(date1[:4])
    month1=int(date1[5:7])
    day1=int(date1[8:])
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    date1=datetime.date(year1,month1,day1)
    date2=datetime.date(year2,month2,day2)
    return date2 - date1
    
    print(year1,month1,day1)
print(datediffer('1998:01:02','2019:07:23'))

7872 days, 0:00:00

In [37]:
import calendar
calendar.isleap(2016)

True