In [ ]:
import turtle as t
wn =t.Screen()
t1=t.Turtle()
t2=t.Turtle()

t1.forward(90)
t2.backward(60)
wn.mainloop()

## File Handling

In [ ]:
# Ddefine functon to read file data for a givesn file
import re
def readfile(filename):
    f=open(filename,'r')
    filedata=f.read() #Returns a list of lines in the file
    return filedata
readfile('scratch.txt')
#len(re.split('\ ' , readfile('scratch.txt')))
wordlist=re.split('\ ' ,readfile('scratch.txt'))
wordlist

## Frequency of Data

1. unique data in the form of dictionary {'To':0 'introduce':0.....}
2. calculate the frequency for all keys in the dictionary
for evey key :
count the number of times th key is repeating in the data
Assign the count of each key to the corresponding

In [ ]:
# function toextarct unique words in a text file 
import re
def extuniword(filename):
    filedata=readfile(filename)
    wordlist=re.split('\ ',filedata)
    uniqueword={}
    for word in wordlist:
        if word not in uniqueword.keys():
            uniqueword[word]=1
    return uniqueword
    
#extuniword('scratch.txt')
#uniqueword=extuniword('scratch.txt')
# Function to calculate the frequency of words 
def frequencytable(data,uniquedata):
    for word in uniquedata.keys():
        uniquedata[word]=len(re.findall(word,data))
    return uniquedata
filedata=readfile('scratch.txt')
frequencytable(filedata,uniqueword)

In [ ]:
re.findall('p','python programming')

## Day ob
packages and midiuel
turtle

In [ ]:
import sympy
sympy.isprime(10)

In [3]:
import pandas as pd
data=pd.read_csv('ganesh.csv')
data

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [12]:
df=pd.DataFrame({'ContactEmail':['Chris Gallagher','Chris Gallagher'],}) # show in dictionary
df

      ContactEmail
0  Chris Gallagher
1  Chris Gallagher

In [13]:
df.columns
df

      ContactEmail
0  Chris Gallagher
1  Chris Gallagher

In [14]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [17]:
data.head(2)

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [19]:
data.head(1)

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [20]:
data.tail()

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [22]:
data.shape

(2, 17)

In [26]:
data.rename(columns={'Contact Email':'email','StartDate':'sd'})

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

## Axis=0  for rows, 1 for columns

In [37]:
data.drop('Location',axis=1).head(2)

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,2,N,N,25,9/2/2011

In [32]:
data.drop([1],axis=0)

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [38]:
data.email

AttributeError: 'DataFrame' object has no attribute 'email'

In [35]:
data['Contact']

KeyError: 'Contact'

## loc()-used for accessing  with the labels

In [56]:
data.loc[1]['Nan'] # passing lables names

KeyError: 'Nan'

In [43]:
data.iloc[1][0] # passing index of the column

'9/5/2011'

In [57]:
data.set_index('Start Date')

KeyError: 'Start Date'

In [58]:
pd,concat([data,df2]) # addding to lists row wise and colum wise

NameError: name 'concat' is not defined

In [59]:
type(data_frame)

NameError: name 'data_frame' is not defined

In [60]:
type(data_frame.columns)

NameError: name 'data_frame' is not defined

In [61]:
data.sort_values('name') # sorting column

KeyError: 'name'

In [62]:
data_frame.Class.sort_values()

NameError: name 'data_frame' is not defined

In [63]:
data.duplicated().sum()

0

In [ ]:
data.duplicates()