    Categorical feature and data example:
    Color: red, white, black 
    Why categorical: red < white < black is logically incorrect

    Ordinal feature and data example:
    Condition: old, renovated, new 
    Why ordinal: old < renovated < new is logically correct

<img src="https://miro.medium.com/max/774/1*r3aOsJoXHX7uC2nxn2lygQ.png">

import pandas as pd

In [2]:
df = pd.DataFrame({'Score': ['Low','Low','Medium','Medium','High']})
df

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High

In [3]:
scale_mapper = {'Low':1,'Medium':2,'High':3}

In [4]:
df['Scale'] = df['Score'].replace(scale_mapper)

In [5]:
df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3

In [7]:
df['Score']

0       Low
1       Low
2    Medium
3    Medium
4      High
Name: Score, dtype: object

In [6]:
>>> from sklearn.preprocessing import OrdinalEncoder
>>> import numpy as np
>>> X = np.array([
     ["good", "london"],
     ["good", "tokyo"],
    ["bad", "paris"],
     ["average", "so so"],
    ["good", "tokyo"]])

>>> encoder = OrdinalEncoder()
>>> encoder.fit_transform(X)

>>> encoder.categories_

[array(['average', 'bad', 'good'], dtype='<U7'),
 array(['london', 'paris', 'so so', 'tokyo'], dtype='<U7')]

In [8]:
>>> encoder = OrdinalEncoder(categories=[["bad", "average", "good"]])
>>> encoder.fit_transform([["good"], ["bad"], ["bad"], ["average"]])

array([[2.],
       [0.],
       [0.],
       [1.]])